# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Vim cached files
*.swp
*.swo

# build directories
build/
Testing/

# Environment related
.DS_Store
.vscode/
.idea/
.venv
.cache
.ccls-cache

# CMake stuff
*.cmake
_deps/
*.tcl
CMakeCache.txt
CMakeFiles/
Makefile

# benchmarks
benchmarks/*
!benchmarks/*.cpp
!benchmarks/*.h
!benchmarks/CMakeLists.txt
!benchmarks/README.md
!benchmarks/dodo/
!benchmarks/scripts/
benchmarks/scripts/*
!benchmarks/scripts/*.py
!benchmarks/scripts/*.R
!benchmarks/scripts/results/
benchmarks/scripts/results/*
!benchmarks/scripts/results/raw/

# executables
tests/tests
examples/*
!examples/*.cpp
!examples/CMakeLists.txt
!examples/*.md
comparisons/*
!comparisons/*.cpp
!comparisons/CMakeLists.txt
!comparisons/*.md

.Rproj.user
